
@{
    ViewData["Title"] = "Index";
}

<style>
    .custom-border {
        border-radius: 10px;
    }
    .main-contenido {
        padding: 15px;
    }

    .seccond-contenido, .third-content {
        margin-top: 1.6rem;
    }
    .info-card-img {
        height: 100px;
        width: 100px;
        margin: 10px
    }

    .center-content {
        display: flex !important;
        align-content: center !important;
        justify-content: center !important;
        flex-direction: column;
    }
    .rear-img {
        width: 90%;
        height: auto;
    }

    .welcome-section {
        margin-top: 1.6rem;
    }
</style>

<div class="contenido">
    <div class="main-contenido">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://images.pexels.com/photos/12064/pexels-photo-12064.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100 img-fluid custom-border" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://images.pexels.com/photos/12063/pexels-photo-12063.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100 img-fluid custom-border" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://images.pexels.com/photos/12069/pexels-photo-12069.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100 img-fluid custom-border" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="welcome-section">
        <div class="row">
            <div class="col-md-6">
                <h2>Bienvenido</h2>
                <p>La Universidad Don Bosco es una institución salesiana de educación superior con 39 
                    años de trayectoria. Forma parte de la Red de Instituciones Salesianas de Educación 
                    Superior (IUS) en el mundo.  
                </p>
                <p> Somos referente en El Salvador y Centroamérica por nuestro modelo educativo e
                    innovación curricular para la formación integral de la persona, a través de un enfoque
                    por competencias.
                </p>

                <div class="courses-offered">
                    <h3>Carreras a Ofertar</h3>
                    <ul>
                        <li>Ingeniería en Ciencias de la Computación</li>
                        <li>Licenciatura en Administración de Empresas</li>
                        <li>Técnico en Multimedia</li>
                        <li>Ingeniería Industrial</li>
                        <li>Contaduría Pública</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6">
                <div class="video-container">
                    <video width="100%" controls>
                        <source src="/video/UDB_Video.mp4" type="video/mp4">
                        Tu navegador no soporta el elemento de video.
                    </video>
                </div>
            </div>
        </div>
    </div>

    <div class="seccond-contenido">
        <div class="row">
            <div class="col-md-8">
                <img src="https://www.udb.edu.sv/udb_files/recursos_banners/web/image/publicitario/P9WHK2U9/454_bannerpublicitaria_link_peq_04411820241017.jpg"
                     class="img-fluid" alt="Alternate Text" />
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="text-center">
                        <img src="https://www.udb.edu.sv/udb_files/recursos_banners/web/image/portada/GMADKS2P/159_bannerportada_peq_03230420210116.jpg"
                             class="rear-img" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="third-content">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2 center-content">
                        <div class="text-center">
                            <img src="~/img/certificate.png" alt="" class="info-card-img"> <br />
                        </div>
                        <h5 class="fw-bold text-center">Nuevas Carreras</h5>
                    </div>
                    <div class="col-md-2 center-content">
                        <div class="text-center">
                            <img src="~/img/flask.png" alt="" class="img-fluid info-card-img"> <br />
                        </div>                        
                        <h5 class="fw-bold text-center">Proyección Social</h5>
                    </div>
                    <div class="col-md-2 center-content d-flex">
                        <div class="text-center">
                            <img src="~/img/graduation.png" alt="" class="img-fluid info-card-img"> <br />
                        </div>                        
                        <h5 class="fw-bold text-center">Certificados</h5>
                    </div>
                    <div class="col-md-2 center-content d-flex">
                        <div class="text-center">
                            <img src="~/img/library.png" alt="" class="img-fluid info-card-img"> <br />
                        </div>                        
                        <h5 class="fw-bold text-center">Biblioteca Virtual</h5>
                    </div>
                    <div class="col-md-2 center-content d-flex">
                        <div class="text-center">
                            <img src="~/img/canvas.png" alt="" class="img-fluid info-card-img"> <br />
                        </div>                        
                        <h5 class="fw-bold text-center">Arte y Cultura</h5>
                    </div>
                    <div class="col-md-2 center-content d-flex">
                        <div class="text-center">
                            <img src="~/img/atom.png" alt="" class="img-fluid info-card-img"> <br />
                        </div>                        
                        <h5 class="fw-bold text-center">Ciencia</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

